* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
  text-align: center;
}

footer {
  background: url("images/footer-bg.svg");
  height: 30em;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  color:  #EDF0F4;
}

.footer-end {
  background-color: #000000;
  color: #9FAFC1;
}
