* {
  margin: 0;
  padding: 0;
}

footer {
  background: url(images/footer-background.png) no-repeat center center fixed; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 1wv;
}
