* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
  text-align: center;
}

.intro-section *{
  padding: 5px;
  text-align: left;
}

header {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.header-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.nav-bar {
  align-self: flex-end;
}

.nav-bar > a {
  color: #000000;
  padding: 5px 10px;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 20px;
}

.nav-bar > a:hover {
  background-color: #478fb6;
  border-width: 1px;
  font-weight: 600;
}

.welcome-section {
  position: relative;
}

.welcome-section img {
  width: 100%;
}

.welcome-section .welcome-text {
  position: absolute;
  top: 20%;
  left: 20px;
}

.welcome-section .welcome-text p {
  margin: 0 0 30px 0;
}

.welcome-section .welcome-text btn {
  padding: 10px;
  background-color: #478fb6;
  border-radius: 20px;
  box-shadow: 2px 2px #999999;
}

.welcome-section .welcome-text btn:hover {
  color: #ffffff;
  font-weight: 500;
  box-shadow: 0px 0px #999999;
  cursor: pointer;
}

footer {
  background-image: url("../images/footer-background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 60px;
  width: auto;
  height: auto;
  padding: 30px 0 0;
}

.footer-links {
  padding-top: 100px;
  text-align: center;
  color:rgb(92.941177%,94.117647%,95.686275%);
  padding: 20px 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.footer-links .column {
  margin:0 3vw;
  width: 25vw;
  text-align: left;
}

.footer-links .column:first-child {
  width: 44vw;
}

.column > a {
  display: block;
  color: rgb(92.941177%,94.117647%,95.686275%);
  text-decoration: none;
  margin: 5px 0px;
  padding: 5px 0px;
  text-align: left;
  border-radius: 20px;
}

.column h3 {
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.social-media-icons {
  margin-left: 10px;
}

.column a:hover {
  font-weight: 600;
}

.footer-end {
  background-color: #000000;
  color: #9FAFC1;
}
